
:root {
  --background-color: white;
  --text-title-color: #053d4e;
  --text-color: #323638;
  --icon-color: #323638;
  --icon-menu-color: #707780;
  --menu-color: #707780;
  --text-selected-color: #355cc0;
  --background-selected: #e8ebf1;
  --background-hover: #f7f9fa;
  --border-color: #004fe2;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  width: 100%;
  height: 90vh;
}


header {
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.45rem 2rem 0.45rem 1.27rem;
  border-bottom: 1px solid var (--border-color);
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu {
  width: 1.5rem;
  height: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu div {
  width: 100%;
  height: 0.15rem;
  background-color: var(--menu-color);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.brand .logo {
  width: 1.7rem;
}
.brand .name {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-title-color);
}

.derecha{
  display: flex;
  align-items:center;
}
.derecha .notif{
  margin-right: 17px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  background-color: #081940;
  border-radius: 20px;
  width: 155px;
  height: 40px;
}

.right a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  padding: 0;
  height: 100%; 
}

.right img {
  width: 1.5rem;
  margin: 0; 
  display: block; 
}
.right .user {
  width: 2.1rem;
  border-radius: 50%;
}
.right p{
  margin-top: 15px;
  font-size: 12px;
  font-weight: 600;
}
  

.sidebar {
  margin-top: 4rem;
  width: 18.75rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.1rem 0;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  background-color: var(--background-color);
  transition: width 0.5s ease;
}

.sidebar.menu-toggle {
  width: 4rem;
}
.sidebar a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 0.9rem 0.7rem;
  text-decoration: none;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
}
.sidebar a:hover {
  background-color: var(--background-hover);
}
.sidebar a.selected {
  color: var(--text-selected-color);
  background-color: var(--background-selected);
  padding: 1rem 0.7rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.2rem;
}
.sidebar img {
  width: 1.6rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li::marker {
  content: none;
}


main {
  overflow: hidden;

  flex-direction: row; 
  gap: 0; 
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  margin-left: 18.75rem;
  padding: 2rem;
  transition: padding-left 0.5s ease;
  background-color: #f2f5fa;
}
main.menu-toggle {
  margin-left: 4rem;
}

main .container {
  width: 80%;
  background-color: #ffffff;
  border-radius: 15px;
}

main .content_general{
  width: 100%;
  border-radius: 15px;
}
main .block_1 {
  width: 100%;
  height: 140px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .block_2 {
  width: 100%;
  height: 310px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .block_3 {
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub{
  height: 100%;
  width: 350px;
  background-color:white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
  display: flex;
  padding: 35px;
}
.med_a{
  width: 750px;
  height: 100%;
  background-color:white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
  padding: 23px;
}
.med_b{
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
  padding: 23px;
}
.med_c{
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
  padding: 23px;
}
.foot_a{
  width: 750px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
}
.foot_b{
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
}
.foot_c{
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  border-radius: 18px;
}
.bad img{
  width: 100%;
  height: 100%;
}
.bad{
  width: 30%;
  height: 100%;
}
.tap{
  width: 70%;
  height: 100%;
  text-align: center;
}
.tap .dat{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}
.tap .info{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.content h2{
    font-size: 20px;
}
.content .data_table{
    font-size: 12px;
    
}


@media (max-width: 500px) {
  .right .icons-header {
    display: none;
  }
  .sidebar {
    width: 0;
  }
  main {
    margin-left: 0;
  }
  main.menu-toggle {
    margin-left: 0;
  }
}
